.explanation-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.pseudocode-container {
  font-family: "Fira Code", monospace;
  background-color: #f8f8f8;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-x: auto;
  white-space: pre;
}

.pseudocode-line {
  display: flex;
  align-items: center;
}

.line-number {
  display: inline-block;
  min-width: 15px;
  padding: 0 5px;
  color: #999;
  text-align: right;
  margin-right: 10px;
  user-select: none;
}

.labels-container {
  font-family: "Fira Code", monospace;
  background-color: #f8f8f8;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  white-space: pre;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 200px;
  width: 50%;
  overflow-y: scroll;
  resize: both;
}

.line-highlight {
  background-color: #9a6afa;
  color: ghostwhite;
}

.regular {
  color: #333;
}

.keyword {
  font-weight: bold;
}

.extra-space-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.extra-space-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Fancy border */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  /* Fancy background */
  background-color: #f8f8f8;
  margin: 0px 10px;
}

  